
<footer class="container-fluid text-center mt-3">

    <a class="navbar-brand mx-auto" href="#"><span class="freshTitle">Fresh</span>  <i class="fas fa-fire text-danger "></i> <span class="foodTitle">Food</span></a><br />
    <a href="mailto:himanshu399231@gmail.com" class="text-center text-light"> <i class="fas fa-mail"></i> Mail Us</a><br />
    <a href="tel:8604470501" class="text-center text-light"> <i class="fas fa-phone"></i> Contact us</a>
    <br />
    <p class="text-center text-light">All © Copyright are reserved</p>


</footer>